# the compiled results of src
/src/*.o
/src/disksim 
/src/syssim 
/src/rms 
/src/hplcomb

# the compiled results of debug
/debug/*.o
/debug/disksim_debug
/debug/debugfile

# the configuration of project
.cproject
.project